.container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to take up the full viewport height */
}

.user-details {
  text-align: center;
}

.user-data {
  margin-bottom: 10px; /* Adjust margin as needed */
}
